* {
    box-sizing: border-box;
}

/* BASE */

body {
    margin: 0;
    background-color: #F68658;
}

h1 {
    background-color: aqua;
}

/* MAIN */

.info-container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;
}

.weather-container {
    background-color: rgb(36, 22, 160);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.locations-container {
    background-color: rgb(106, 100, 165);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.map-container {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

/* HELPERS */

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}